<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="database" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\database.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>
  
  <system.serviceModel>

      <bindings>
        <basicHttpBinding>
          <binding name="DefaultWebHttpBinding" allowCookies="false">
          </binding>
        </basicHttpBinding>
      </bindings>

    <services>
      <service name="Server.Services.FeedsService" behaviorConfiguration="ServiceBehavior">
        <endpoint contract="Server.Services.FeedsService" binding="basicHttpBinding" address=""/>
      </service>
      <service name="Server.Services.Account" behaviorConfiguration="ServiceBehavior">
        <endpoint contract="Server.Services.Account" binding="basicHttpBinding" address=""/>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>