@{
    ViewBag.Title = "Home Page";
}
<div class="row-fluid">
	<div class="box span12">
		<div class="box-header">
			<h2><i class="icon-edit"></i><span class="break"></span>@ViewBag.Message</h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn-close"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
             <p>
             Welcome on RSS Feed Aggregator ASP Client.
            </p>
        </div>
    </div>
</div>
