@{
    ViewBag.Title = "Feed Items";
}
<div class="row-fluid">
	<div class="box span12">
		<div class="box-header">
			<h2><i class="icon-th-large"></i><span class="break"></span>@ViewBag.Title</h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn-close"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item Feed</th>
                        <th>Pub. Date</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (ViewBag.Items as Client_ASP.FeedServ.Item[]))
                    {
                        <tr>
                            <td>@Html.ActionLink(item.Title, "Item", "Feeds", item, null)</td>
                            <td>@item.PubDate.DateTime.ToString()</td>
                            <td>@((item.Read) ? "-" : "New !")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
