@{
    ViewBag.Title = "Feeds List";
}
<div class="row-fluid">
	<div class="box span12">
		<div class="box-header">
			<h2><i class="icon-th"></i><span class="break"></span>@ViewBag.Title</h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
				<a href="#" class="btn-close"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Feed name</th>
                        <th>State</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.ActionLink("Fictive Feed", "Feed", "Feeds", new{id = 0}, null)</td>
                        <td>0 new</td>
                        <td>@Html.ActionLink("X", "DeleteFeed", "Feeds", new{id = 0}, null)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
