<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Account" />
                <binding name="BasicHttpBinding_FeedsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3972/Services/FeedsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FeedsService"
                contract="FeedService.FeedsService" name="BasicHttpBinding_FeedsService" />
            <endpoint address="http://localhost:3972/Services/Account.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Account"
                contract="RSSService.Account" name="AccountService" />
        </client>
    </system.serviceModel>
</configuration>